<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
{% if page == "login" %}
<link rel="stylesheet" href="/static/css/signin.css">
{% else %}
<link rel="stylesheet" href="/static/css/signin.css">
<link rel="stylesheet" href="/static/css/tr.css">
{% endif %}
