<div>
    <ul class="nav nav-pills">
        <li class="nav-item" class="active"><a class="nav-link" href='{% url "home" %}'>Home</a></li>
        <li class="nav-item"><a class="nav-link" href='{% url "especialidad-crear" %}'>Crear Especialidad</a></li>
        <li class="nav-item"><a class="nav-link" href='{% url "especialidades" %}'>Lista de Especialidades</a></li>
        <li class="nav-item"><a class="nav-link" href='{% url "medico-crear" %}'>Crear Médico</a></li>
        <li class="nav-item"><a class="nav-link" href='{% url "medicos" %}'>Lista de Médicos</a></li>
        <li class="nav-item"><a class="nav-link" href='{% url "paciente-crear" %}'>Crear Paciente</a></li>
        <li class="nav-item"><a class="nav-link" href='{% url "pacientes" %}'>Lista de Pacientes</a></li>
    </ul>
</div>