{% load main_extras %}

{% if user.is_authenticated %}

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="/static/img/favicon-32x32.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "home" %}'>Home <span class="sr-only">(current)</span></a>
                    </li>
                {% if request.user|has_group:"medicos" %}
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "pacientes" %}'>Todos los Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "medico_pacientes" user.get_username %}'>Mis Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "medico_alertas" user.get_username %}'>Mis Alertas
                        {% if object_list.medicamentos_en_falta > 0 %}
                            <span class="badge badge-danger">{{ object_list.medicamentos_en_falta }}</span>
                        {% endif %}
                        </a>
                    </li>
                {% elif request.user|has_group:"pacientes" %}
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "paciente_detalle" user.get_username %}'>Mis Datos</a>
                    </li>
                    {% comment %}
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "paciente_medicamentos" user.get_username %}'>Mis Medicaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "paciente_estudios" user.get_username %}'>Mis Estudios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "paciente_alertas" user.get_username %}'>Mis Alertas</a>
                    </li>
                    {% endcomment %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "especialidad_crear" %}'>Nueva Especialidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "especialidades" %}'>Todas las Especialidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "medico_crear" %}'>Nuevo Médico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "medicos" %}'>Todos los Médicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "paciente_crear" %}'>Nuevo Paciente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "pacientes" %}'>Todos los Pacientes</a>
                    </li>
                {% endif %}
                </ul>
                    <a class="btn btn-outline-light my-2 my-sm-0" href='{% url "logout" %}'>Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </nav>

{% endif %}