<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
    
    <!-- Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS (Bootstrap y adicionales) -->
    {% include 'snippets/css.html' %}
    
    <title>TR - Transaction Rheumatology</title>
</head>
<body>

<!-- Navbar -->
{% include 'snippets/navbar.html' %}

<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>

<!-- JavaScript -->
{% include 'snippets/js.html' %}

</body>
</html>
