<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>TR - Transaction Rheumatology</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body style="margin: 0; padding: 0;">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; border: 1px solid #cccccc;">
 			<tr>
  				<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
   					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
								<b>Estimado Paciente:</b>
							</td>
						</tr>
						<tr>
						<tr>
							<td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
								El presente es un recordatorio de su médico para informarle que, según los registros, aún no tomó alguna de sus medicaciones actuales, o no lo informó en la aplicación.
							</td>
						</tr>
						<tr>
						<tr>
							<td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
								Ante cualquier duda consulte a su médico.
							</td>
						</tr>
					 </table>
  				</td>
 			</tr>
		</table>
	</body>
</html>