{% extends 'base.html' %}

{% block content %}

    <h2>Lista de Especialidades</h2>

    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Especialidad</th>
            </tr>
        </thead>
        <tbody>
            {% for especialidad in object_list %}
            <tr>
                <th scope="row">{{ especialidad.id }}</th>
                <td>{{ especialidad.nombre }}</td>
            </tr>
            {% endfor %}
      </tbody>
    </table>

{% endblock %}