{% extends 'base.html' %}

{% block content %}

    <h2>Lista de Médicos</h2>

    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Especialidad</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in object_list %}
            <tr>
                <th scope="row"><a href="/medicos/{{ medico.dni }}/">{{ forloop.counter }}</a></th>
                <td>{{ medico.nombre }}</td>
                <td>{{ medico.apellido }}</td>
                <td>{{ medico.dni }}</td>
                <td>{{ medico.especialidad }}</td>
            </tr>
            {% endfor %}
      </tbody>
    </table>

{% endblock %}