{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Agregar Médico | {{ block.super }}{% endblock head_title %}

{% block content %}

    <div class="card" style="margin-top: 15px;">
        <h5 class="card-header">Crear Médico</h5>
        <div class="card-body">
		    <form method="POST"> {% csrf_token %}
				<div class="form-row">
					<div class="form-group col-md-6 mb-0">
        				{{ form.first_name|as_crispy_field }}
					</div>
					<div class="form-group col-md-6 mb-0">
						{{ form.last_name|as_crispy_field }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6 mb-0">
        				{{ form.email|as_crispy_field }}
					</div>
					<div class="form-group col-md-6 mb-0">
						{{ form.documento|as_crispy_field }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6 mb-0">
        				{{ form.especialidad|as_crispy_field }}
					</div>
				</div>
		        <button type="submit" class="btn btn-primary">Guardar</button>
		    </form>
		</div>
	</div>

{% endblock content %}