{% extends 'base.html' %}

{% block content %}

    <div class="card" style="margin-top: 15px;">
        <h5 class="card-header">Detalle del Médico</h5>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Nombre</dt>
                <dd class="col-sm-9">{{ object.usuario.first_name }}</dd>
                <dt class="col-sm-3">Apellido</dt>
                <dd class="col-sm-9">{{ object.usuario.last_name }}</dd>
                <dt class="col-sm-3">Documento</dt>
                <dd class="col-sm-9">{{ object.documento }}</dd>
                <dt class="col-sm-3">E-Mail</dt>
                <dd class="col-sm-9">{{ object.usuario.email }}</dd>
            </dl>
        </div>
        {% if request.user.is_staff %}
        <div class="card-footer">
            <button type="button" class="btn btn-danger">Eliminar Médico</button>
        </div>
        {% endif %}
    </div>

{% endblock %}