{% extends 'base.html' %}

{% block content %}

    <div class="card" style="margin-top: 15px;">
        <h5 class="card-header">Detalle del Médico</h5>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-striped table-user-information w-auto">
                            <tbody>
                                <tr>
                                    <td>NOMBRE</td>
                                    <td>{{ object.usuario.first_name }}</td>
                                    <input type="hidden" name="id_medico" value="{{object.documento}}">
                                </tr>
                                <tr>
                                    <td>APELLIDO</td>
                                    <td>{{ object.usuario.last_name}}</td>
                                </tr>
                                <tr>
                                    <td>DOCUMENTO</td>
                                    <td>{{ object.documento }}</td>
                                </tr>
                                <tr>
                                    <td>E-MAIL</td>
                                    <td>{{ object.usuario.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_staff %}
        <div class="card-footer">
            {# <button type="button" class="btn btn-info btn-sm">Editar Datos</button> #}
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#medicoModal">Eliminar Médico</button>
        </div>

        <!-- Modal Médico -->
        <div class="modal fade" id="medicoModal" tabindex="-1" role="dialog" aria-labelledby="medicoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="medicoModalLabel">Eliminar Médico</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="eliminar_modal_body">
                        ¿Está seguro de que desea eliminar el médico?
                    </div>
                    <div class="modal-footer" id="eliminar_modal_footer">
                        <button type="button" class="btn btn-sm btn-secondary ibtnCerrar" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-sm btn-danger ibtnEliminarM">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}