{% extends 'base.html' %}

{% load mathfilters %}

{% load main_extras %}

{% block content %}
    <div class="card" style="margin-top: 15px;">
        <h5 class="card-header">Detalle del Paciente</h5>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>NOMBRE</td>
                                    <td>{{ object.paciente.usuario.first_name }}</td>
                                    <input type="hidden" name="id_paciente" value="{{object.paciente.documento}}">
                                </tr>
                                <tr>
                                    <td>APELLIDO</td>
                                    <td>{{ object.paciente.usuario.last_name}}</td>
                                </tr>
                                <tr>
                                    <td>DOCUMENTO</td>
                                    <td>{{ object.paciente.documento }}</td>
                                </tr>
                                <tr>
                                    <td>FECHA DE NACIMIENTO</td>
                                    <td>{{ object.paciente.fecnac }}</td>
                                </tr>
                                <tr>
                                    <td>NACIONALIDAD</td>
                                    <td>{{ object.paciente.pais.name }}</td>
                                </tr>
                                <tr>
                                    <td>E-MAIL</td>
                                    <td>{{ object.paciente.usuario.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_staff %}
        <div class="card-footer">
            {# <button type="button" class="btn btn-info btn-sm">Editar Datos</button> #}
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#pacienteModal">Eliminar Paciente</button>
        </div>

        <!-- Modal Paciente -->
        <div class="modal fade" id="pacienteModal" tabindex="-1" role="dialog" aria-labelledby="pacienteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="pacienteModalLabel">Eliminar Paciente</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de que desea eliminar el paciente?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div id="accordion" role="tablist" style="margin-top: 15px; margin-bottom: 15px">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                    <a data-toggle="collapse" href="#medicamentos" role="button" aria-expanded="true" aria-controls="medicamentos">Medicamentos</a>
                    {% if object.medicamentos_en_falta == 1 %}
                    <span class="badge badge-danger">Revisar</span>
                    {% endif %}
                </h6>
            </div>

            <div id="medicamentos" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="card">
                        <h6 class="card-header">Medicaciones Actuales</h6>
                        <div class="card-body">

                            {% if request.user|has_not_group:"pacientes" %}
                            <input type="button" class="btn btn-success btn-sm" id="nuevafilamed" value="+ Nueva Medicación"></br></br>
                            {% endif %}

                            <form method="POST" id="form_medicamento">{% csrf_token %}</form>
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-condensed" name="medvigentes">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Medicamento</th>
                                            <th scope="col">Posología</th>
                                            <th scope="col">Recetado Por</th>
                                            <th scope="col">Fecha Inicio</th>
                                            <th scope="col">Fecha Fin</th>
                                            <th scope="col">Cantidad de dosis completadas</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for medicamento in object.medicamentos_vigentes %}
                                        {% if medicamento.medicamento in object.medicamentos_sin_tomar %}
                                        <tr class="table-danger">
                                        {% else %}
                                        <tr>
                                        {% endif %}
                                            <th scope="row">{{ medicamento.medicamento }}</th>
                                            {% if medicamento.posologia|intdiv:60 <= 24 %}
                                            <td>Cada {{ medicamento.posologia|intdiv:60 }} horas</td>
                                            {% elif medicamento.posologia|intdiv:60 <= 10080 %}
                                            <td>Cada {{ medicamento.posologia|intdiv:1440 }} días</td>
                                            {% elif medicamento.posologia|intdiv:60 <= 43200 %}
                                            <td>Cada {{ medicamento.posologia|intdiv:10080 }} semanas</td>
                                            {% else %}
                                            <td>Cada {{ medicamento.posologia|intdiv:43200 }} meses</td>
                                            {% endif %}
                                            <td>{{ medicamento.medico }}</td>
                                            <td>{{ medicamento.fecha_inicio }}</td>
                                            <td>{{ medicamento.fecha_fin }}</td>
                                            <td id="dosis-completadas-{{medicamento.id}}">{{ medicamento.dosis_completadas }}</td>
                                            <td><input type="button" class="ibtnTomar btn btn-sm btn-success" id="tomar-{{medicamento.id}}" value="Tomar Medicación">
                                            {% if request.user|has_not_group:"pacientes" %}
                                            <input type="button" class="ibtnBorrar btn btn-sm btn-danger" id="borrar-{{medicamento.id}}" data-toggle="modal" data-target="#medicamentoModal" value="Borrar"></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                  </tbody>
                                </table>
                            </div>

                            <!-- Modal Medicamento -->
                            <div class="modal fade" id="medicamentoModal" tabindex="-1" role="dialog" aria-labelledby="medicamentoModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="medicamentoModalLabel">Eliminar Medicamento</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro de que desea eliminar el medicamento?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-sm btn-danger btn-confirmar">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="margin-top: 15px;">
                        <h6 class="card-header">Medicaciones Pasadas</h6>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm table-secondary table-hover table-condensed" id="mednovigentes">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Medicamento</th>
                                            <th scope="col">Posología</th>
                                            <th scope="col">Recetado Por</th>
                                            <th scope="col">Fecha Inicio</th>
                                            <th scope="col">Fecha Fin</th>
                                            <th scope="col">Cantidad de dosis completadas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for medicamento in object.medicamentos_novigentes %}
                                        <tr>
                                            <th scope="row">{{ medicamento.medicamento }}</th>
                                            {% if medicamento.posologia|intdiv:60 <= 24 %}
                                            <td>Cada {{ medicamento.posologia|intdiv:60 }} horas</td>
                                            {% elif medicamento.posologia|intdiv:60 <= 10080 %}
                                            <td>Cada {{ medicamento.posologia|intdiv:1440 }} días</td>
                                            {% elif medicamento.posologia|intdiv:60 <= 43200 %}
                                            <td>Cada {{ medicamento.posologia|intdiv:10080 }} semanas</td>
                                            {% else %}
                                            <td>Cada {{ medicamento.posologia|intdiv:43200 }} meses</td>
                                            {% endif %}
                                            <td>{{ medicamento.medico }}</td>
                                            <td>{{ medicamento.fecha_inicio }}</td>
                                            <td>{{ medicamento.fecha_fin }}</td>
                                            <td>{{ medicamento.dosis_completadas }}</td>
                                        </tr>
                                        {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h6 class="mb-0">
                    <a data-toggle="collapse" href="#estudiosyactividades" role="button" aria-expanded="true" aria-controls="estudiosyactividades">Estudios y Actividades</a>
                    {% if object.estudios_vigentes %}
                    <span class="badge badge-danger">Revisar</span>
                    {% endif %}
                </h6>
            </div>

            <div id="estudiosyactividades" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="card">
                        <h6 class="card-header">Estudios/Actividades Pendientes</h6>
                        <div class="card-body">

                            {% if request.user|has_not_group:"pacientes" %}
                            <input type="button" class="btn btn-success btn-sm" id="nuevafilaest" value="+ Nuevo Estudio o Actividad"></br></br>
                            {% endif %}

                            <form method="POST" id="form_estudio">{% csrf_token %}</form>
                            <div class="table-responsive">
                                <table class="table table-sm table-hover table-condensed" id="estvigentes">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Estudio/Actividad Solicitado</th>
                                            <th scope="col">Solicitado Por</th>
                                            <th scope="col">Fecha de Solicitud</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for estudio in object.estudios_vigentes %}
                                        <tr>
                                            <th scope="row">{{ estudio.estudio }}</th>
                                            <td>{{ estudio.medico }}</td>
                                            <td>{{ estudio.fecha_solicitud }}</td>
                                            <td id="estado-estudio-{{estudio.id}}">Pendiente</td>
                                            <td><input type="button" class="ibtnCompletar btn btn-sm btn-success" id="completar-{{estudio.id}}" value="Completar Estudio">
                                            <input type="button" class="ibtnBorrarEst btn btn-sm btn-danger" data-toggle="modal" data-target="#estudioModal"  id="borrarest-{{estudio.id}}" value="Borrar"></td>
                                        </tr>
                                        {% endfor %}
                                  </tbody>
                                </table>
                            </div>

                            <!-- Modal Estudio -->
                            <div class="modal fade" id="estudioModal" tabindex="-1" role="dialog" aria-labelledby="estudioModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="estudioModalLabel">Eliminar Estudio/Actividad</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro de que desea eliminar el estudio/actividad?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-sm btn-danger btn-confirmar">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="margin-top: 15px;">
                        <h6 class="card-header">Estudios/Actividades Pasados</h6>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm table-secondary table-hover table-condensed" id="estnovigentes">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Estudio/Actividad Solicitado</th>
                                            <th scope="col">Solicitado Por</th>
                                            <th scope="col">Fecha de Solicitud</th>
                                            <th scope="col">Fecha Completado</th>
                                            <th scope="col">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for estudio in object.estudios_novigentes %}
                                        <tr>
                                            <th scope="row">{{ estudio.estudio }}</th>
                                            <td>{{ estudio.medico }}</td>
                                            <td>{{ estudio.fecha_solicitud }}</td>
                                            <td>{{ estudio.fecha_completado }}</td>
                                            <td>Completado</td>
                                        </tr>
                                        {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_staff %}
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h6 class="mb-0">
                    <a data-toggle="collapse" href="#acciones" role="button" aria-expanded="true" aria-controls="acciones">Acciones</a>
                </h6>
            </div>

            <div id="acciones" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action derivar-paciente" data-toggle="modal" data-target="#derivarPacienteModal">Derivar paciente</a>
                        <a class="list-group-item list-group-item-action">Enviar correo electrónico al paciente</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Derivar Paciente -->
        <div class="modal fade" id="derivarPacienteModal" tabindex="-1" role="dialog" aria-labelledby="derivarPacienteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="derivarPacienteModalLabel">Derivar Paciente</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="derivar_modal_body">
                        <form method="POST" id="derivar_paciente">
                            <div class="form-group">
                                <label for="FormControlSelectEspecialidad">Especialidad</label>
                                    <select class="form-control-sm" id="FormControlSelectEspecialidad">
                                    </select>
                            </div>
                            <div class="form-group">
                                <label for="FormControlSelectMedico">Médico</label>
                                    <select class="form-control-sm" id="FormControlSelectMedico">
                                    </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" id="derivar_modal_footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-sm btn-info ibtnDerivar">Derivar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}